@import url('https://css.gg/eye.css');

.LoginWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.LoginContainer {
	background-color: var(--secondary-green);
	display: flex;
	flex-direction: row;
	width: 1024px;
	justify-content: center;
	height: 465px;
}

.Login,
.LoginInfo {
	display: flex;
	flex-direction: column;
}

.Login {
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.register {
	font-size: 15px;
    color: #00856F;
}

.forgetPass {
    display: flex;
    justify-content: flex-end;
    font-size: x-small;
    color: #495057;
    padding: 0px 5px;
}

b {
	font-size: 35px;
	font-weight: 600;
	margin-bottom: 5px;
}

c {
	font-size: 15px;
	font-weight: 550;
}

.eldercare {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 550;
}

.eldercare span:nth-child(n+6) {
	color: #00856F;
	font-weight: 600;
  }

.girl {
	height: 450px;
	object-fit: contain;
	margin-top: 35px;
	margin-left: 10px;
}

.loginButton {
    width: 369px;
	margin: 8px;
	display: flex;
    justify-content: center;
	color: #fff;
	background: #00856F;
	border: none;
	border-radius: 8px;
    padding: 20px 15px;
    margin: 30px 0px;
    box-shadow: 0px 4px 80px -10px #545C9B;
    cursor: pointer;
}

.password {
	border: none;
	outline: none;
}

.showPass {
	border: none;
	background-color: #fff;
	margin-left: auto;
}

.credentials {
	background-color: #fff;
    color: #495057;
	border: 2px;
}
